<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" />

    <link rel="stylesheet" type="text/css" href="./css/reset.css" />
    <link rel="stylesheet" type="text/css" href="./css/menu.css" />

    <link rel="stylesheet" type="text/css" href="./css/doctor.css" />
</head>
<body>
    <div class="app grid">
        <button class="button-menu" aria-label="Botão para abrir menu">
            <i class="fa-solid fa-bars"></i>
        </button>

        <nav class="menu">
            <button 
                class="button-close" 
                aria-label="Botão para fechar o menu">
                    <i class="fa-regular fa-circle-xmark"></i>
            </button>

            <ul class="list">
                <li class="menu-item">
                    <a href="index.html" class="menu-item-link">
                        <i class="fa-solid fa-house"></i>
                        <p class="hidden">Home</p>
                    </a>
                </li>

                <li class="menu-item">
                    <a href="agenda.html" class="menu-item-link">
                        <i class="fa-solid fa-clipboard"></i>
                        <p class="hidden">Agenda</p>
                    </a>
                </li>

                <li class="menu-item">
                    <a href="register-doctor.html" class="menu-item-link">
                        <i class="fa-solid fa-user-nurse"></i>
                        <p class="hidden">Cadastrar medico</p>
                    </a>
                </li>

                <li class="menu-item">
                    <a href="doctors.html" class="menu-item-link activate">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <p class="hidden">Medicos</p>
                    </a>
                </li>
            </ul>
        </nav>

        <main class="main">
            <h2 class="title">Medicos cadastrados</h2>

            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>telefone</th>
                            <th>actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Edmar Sousa</td>
                            <td>(00) 00000-0000</td>
                            <td>
                                <button 
                                    class="button green" 
                                    aria-label="Botão para ver detalhes"
                                    onclick="handleViewProfile(1)">
                                        <i class="fa-solid fa-eye"></i>
                                </button>

                                <button 
                                    class="button red" 
                                    aria-label="Botão para desativar perfil">
                                        <i class="fa-solid fa-lock"></i>
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Edmar Sousa</td>
                            <td>(00) 00000-0000</td>
                            <td>
                                <button 
                                    class="button green" 
                                    aria-label="Botão para ver detalhes"
                                    onclick="handleViewProfile(2)">
                                        <i class="fa-solid fa-eye"></i>
                                </button>

                                <button 
                                    class="button red" 
                                    aria-label="Botão para desativar perfil">
                                        <i class="fa-solid fa-lock"></i>
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>Edmar Sousa</td>
                            <td>(00) 00000-0000</td>
                            <td>
                                <button class="button green" aria-label="Botão para ver detalhes"><i class="fa-solid fa-eye"></i></button>
                                <button class="button red" aria-label="Botão para desativar perfil"><i class="fa-solid fa-lock"></i></button>
                            </td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>Edmar Sousa</td>
                            <td>(00) 00000-0000</td>
                            <td>
                                <button class="button green" aria-label="Botão para ver detalhes"><i class="fa-solid fa-eye"></i></button>
                                <button class="button red" aria-label="Botão para desativar perfil"><i class="fa-solid fa-lock"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>

        <aside class="profile-view">
            <div class="modal-header">
                <h3>Detalhes</h3>

                <button 
                    class="button-close"
                    aria-label="Botão para fechar o modal de detalhes do perfil"
                    id="close-modal">
                        <i class="fa-regular fa-circle-xmark"></i>
                </button>
            </div>

            <div class="informations">
                <div class="icon">
                    <i class="fa-solid fa-user-doctor"></i>
                </div>

                <div class="row">
                    <div class="col">
                        <p class="label">Nome:</p>
                        <p class="value">Edmar Sousa</p>
                    </div>

                    <div class="col">
                        <p class="label">Status:</p>
                        <p class="value"><i class="fa-regular fa-circle-check"></i> Ativo</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p class="label">Telefone:</p>
                        <p class="value">(00) 00000-0000</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p class="label">Sexo:</p>
                        <p class="value">Masculino</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p class="label">Cidade/Estado:</p>
                        <p class="value">Ocara - CE</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p class="label">Área de atuação:</p>
                        <p class="value">Dev</p>
                    </div>
                </div>

                <div class="row right">
                    <button class="desable-profile" aria-label="Botão para desativar perfil">
                        <i class="fa-solid fa-lock"></i> Desativar
                    </button>
                </div>
            </div>
        </aside>
    </div>

    <script src="script/menu.js" type="text/javascript"></script>
    <script src="script/doctors.js" type="text/javascript"></script>
</body>
</html>