.grid {
    min-height: 95vh;
}

.lock-button {
    display: flex;
    align-items: center;

    font-size: 1.6rem;

    width: 100%;
    height: 40px;
}

.lock-button:hover {
    transform: scale(0.98);
}

.red {
    color: var(--red-color);
    background: var(--red-bg-color);
}

.green {
    color: var(--green-color);
    background: var(--green-bg-color);
}

.main {
    padding: 10px;
    width: 100%;
}

.title {
    font-size: 2.4rem;
}

.week-day {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--gray-color);
}

.querys {
    margin-top: 20px;
}

.link-action {
    display: flex;
    justify-content: right;
    gap: 5px;

    padding-top: 5px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-link {
    display: block;

    text-decoration: none;
    border-radius: 5px;

    font-size: 1.2rem;

    padding: 5px 10px;
}

.lock-button {
    width: 100%;
    height: 40px;

    text-decoration: none;

    padding: 0 10px;
    border-radius: 5px;
    margin: 10px 0;

    display: flex;
    align-items: center;
    gap: 10px;
}

.lock-button.primary {
    color: var(--green-color);
    background: var(--green-bg-color);
}

@media (min-width: 768px) {
    .grid {
        display: flex;
    }

    .container {
        flex: 1;
    }
}

@media (min-width: 1024px) {
    .container {
        flex: none;
    }

    .app {
        padding: 20px;
    }

    .grid {
        display: grid;
        grid-template-columns: 70px auto 400px;
        gap: 20px;
    }
}
