.main {
    width: 100%;
}

.title {
    font-size: 3rem;
    margin-top: 20px;
}

.card {
    width: 100%;
    
    padding: 10px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background: var(--primary-color);
}

.text-container {
    max-width: 500px;
    width: 100%;
}

.card-title {
    font-size: 2.3rem;
    color: var(--second-color);
}

.card-description {
    margin-top: 10px;
    font-size: 1.6rem;
    color: var(--second-color);
}

.card-image {
    position: relative;
    max-width: 200px;
    width: 50%;
}


.finance {
    width: 100%;
    
    padding: 10px 0;
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.finance-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    border-radius: 10px;
    padding: 20px 0;


    background: var(--second-color);
}

.finance-icon {
    font-size: 3.5rem;
}

.finance-number {
    font-size: 4rem;
    font-weight: bold;
}

.finance-title {
    font-size: 2rem;
}

.notification {
    margin-top: 20px;
    padding: 10px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: var(--second-color);
}


.row {
    display: flex;
    flex-direction: column;

    margin-top: 15px;
}

.notification-title {
    font-size: 1.8rem;
}

.notification-status {
    max-width: min-content;
    align-self: flex-end;

    padding: 5px 10px;
    border-radius: 10px;
    
    font-weight: bold;
}

.little-agenda {
    display: none;
    padding: 0 10px;

    border-radius: 10px;
    background: var(--second-color);
}

.calendar {
    width: 100%;
}

.calendar-header {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar-header__button {
    width: 40px;
    height: 40px;

    font-size: 20px;
    cursor: pointer;

    color: var(--primary-color);

    border: none;
    background: none;
}

.calendar-month {
    font-family: var(--font-family);
    font-weight: bold;
}

.calendar-container {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.calendar-button {
    padding: 10px;
    font-family: var(--font-family);

    font-size: 1.4rem;
    gap: 5px;

    cursor: pointer;
    border-radius: 10px;

    border: 1px solid var(--border-color);
    background: none;
}

.calendar-button:not(.activate-date):hover {
    background: var(--border-color);
}

.day-number {
    font-size: 1.8rem;
    font-weight: bold;
}


.weet-day,
.day-number {
    pointer-events: none;
}

.activate-date {
    color: var(--second-color);
    background: var(--primary-color);
}


/* responsividade da pagina */

@media (min-width: 460px) {
    .card {
        flex-direction: row;
        justify-content: space-between;
        max-height: 190px;
    }
}


@media (min-width: 557px) and (max-width: 1360px) {
    .finance {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 187px 187px;

        grid-template-areas: 
            "card01 card01 card02 card02"
            "spacel card03 card03 spacer";
    }

    .card01 { grid-area: card01; }
    .card02 { grid-area: card02; }
    .card03 { grid-area: card03; }
}


@media (min-width: 530px) {
    .row {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .app {
        padding-bottom: 10px;
    }

    .little-agenda {
        display: block;
    }

    .grid {
        display: grid;
        grid-template-columns: 70px auto 400px;
        gap: 20px;
    }
}


